<ng-container >
    <button class="btn btn-outline-primary me-3" (click)="get500Error()">Test 500 Erorr</button>
    <button class="btn btn-outline-primary me-3" (click)="get400Error()">Test 400 Erorr</button>
    <button class="btn btn-outline-primary me-3" (click)="get401Error()">Test 401 Erorr</button>
    <button class="btn btn-outline-primary me-3" (click)="get404Error()">Test 404 Erorr</button>
    <button class="btn btn-outline-primary me-3" 
        (click)="get400ValidationError()">Test 400 Validation Erorr</button>
</ng-container>