<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#">Dating app</a>

        <ul class="navbar-nav me-auto mb-2 mb-md-0" *ngIf="accoutnService.currentUser$ | async">
            <li class="nav-item">
                <a class="nav-link active" href="#">Matches</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Lists</a>
            </li>
            <li class="nav-item">
                <a class="nav-link">Messages</a>
            </li>
        </ul>

        <div ngbDropdown class="dropdown" *ngIf="accoutnService.currentUser$ | async">
            <a ngbDropdownToggle class="dropdown-toggle text-light text-decoration-none">Welcome user</a>
            <div ngbDropdownMenu class="dropdown-menu">
                <a ngbDropdownItem class="drowndown-item">Edit Profile</a>
                <a ngbDropdownItem class="drowndown-item" (click)="logout()">Logout</a>
            </div>
        </div>

        <form class="d-flex" (ngSubmit)="login()" autocomplete="off" *ngIf="!(accoutnService.currentUser$ | async)">
            <input name="username" [(ngModel)]="model.username" class="form-control me-2" type="text"
                placeholder="Username">
            <input name="password" [(ngModel)]="model.password" class="form-control me-2" type="password"
                placeholder="Password">
            <button class="btn btn-outline-success" type="submit">Login</button>
        </form>
    </div>
</nav>